[buildout]
newest = false
prefer-final = true
parts = eggs scripts devel docs
develop = .

[eggs]
recipe = zc.recipe.egg
eggs =
    chut
    nose
    fabric
scripts =
    chutify
    fab
interpreter = python

[scripts]
recipe = chut
destination = docs/_static/binaries

[devel]
recipe = chut
devel = true

[docs]
recipe = zc.recipe.egg
eggs =
    ${eggs:eggs}
    sphinx

[tox]
recipe = gp.recipe.tox

