[buildout]
newest = false
prefer-final = true
parts = eggs
develop = .

[eggs]
recipe = z3c.recipe.scripts
eggs =
    chut
    coverage
    nose

[docs]
recipe = z3c.recipe.scripts
eggs =
    ${eggs:eggs}
    sphinx

[tox]
recipe = gp.recipe.tox

